@import url('https://fonts.googleapis.com/css?family=Bigelow+Rules&display=swap');

.App {
  text-align: center;
}

h1 {
  font-family: 'Bigelow Rules', cursive;
  font-size: 72px;
  color: #0ccac4;
}
